<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Employee Table</h1>
        <table border="5px" cellpadding = '5px'>
            <tr>
                <th>Empno</th>
                <th>Ename</th>
                <th>Job</th>
                <th>MGR</th>
                <th>Hiredate</th>
                <th>Sal</th>
                <th>Comm</th>
                <th>Deptno</th>
            </tr>
        {% for eo in employees %}
            <tr>
                <td>{{eo.empno}}</td>
                <td>{{eo.ename}}</td>
                <td>{{eo.job}}</td>
                <td>{{eo.mgr}}</td>
                <td>{{eo.hiredate}}</td>
                <td>{{eo.sal}}</td>
                <td>{{eo.comm}}</td>
                <td>{{eo.deptno}}</td>
            </tr>
        {% endfor %}
        </table>
    </center>
</body>
</html>