<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Salgrade Table</h1>
        <table border="5px" cellpadding = '5px'>
            <tr>
                <th>Grade</th>
                <th>Lowsal</th>
                <th>Highsal</th>
            </tr>
        {% for sgo in salgrades %}
            <tr>
                <td>{{sgo.grade}}</td>
                <td>{{sgo.lowsal}}</td>
                <td>{{sgo.highsal}}</td>
            </tr>
        {% endfor %}
        </table>
    </center>
</body>
</html>